<label>
  Server
  {{input value="irc.freenode.net"}}
</label>

<label>
  Port
  {{input value="6667"}}
</label>

<label>
  Nick
  {{input value="switchboard-test"}}
</label>

<label>
  Channels
  {{input value="#switchboard-test"}}
</label>

<a class="button connect" {{action "connect"}}>Connect</a>
